<!--Blog Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">

        <div class="section-heading">
            <h3>{{blog.tagline}}</h3>
            <h2 class="section-title">{{blog.title}}</h2>
        </div>
        <div *ngFor = "let post of blog.posts" class="post-block col-3 wow fadeInUp " data-wow-delay = '0.6s'>
            <app-post [post] = "post"></app-post>
        </div>
    </div>
    <div>
        <ul>
            <li><a href="">First</a></li>
            <li><a href="">Previous</a></li>
            <li><a href="">Current</a></li>
            <li><a href="">Next</a></li>
            <li><a href="">End</a></li>
        </ul>
    </div>
</section>
<!--End of Blog Tables-->